body {
    font-family: Arial, sans-serif;
    background-color: #FAFAFA;
}

#J_Rate-Review{
    padding-top: 80px;
    padding-bottom: 120px;
}

.J_Rate-Review-content {
    text-align: center;
    margin: 0 auto;
}

.J_Rate-Review-content h4 {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin: 0 !important;
}

.J_Rate-Review-content p {
    padding-top: 10px;
    padding-bottom: 40px;
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 400;
    width: 50%;
    margin: 0 auto;
}

.J_summary-rating{
    justify-content: center;
    gap: 30px;
}

.J_Trip-Summary{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    height: 330px;
    padding: 0 !important;  
}

.J_ticket-content{
    padding: 0px 30px !important;
}

.J_summary{
    background-color: #6A6A6A1F;  
}

.J_summary h4{
    padding: 15px 0px 15px 30px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin: 0 !important;
}

.J_trip{
    display: flex;
    border-bottom: 0.8px solid #6A6A6A4D
}

.J_trip-start h3{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin: 0 !important;
    padding-top: 20px;
}

.J_trip-start p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    padding-top: 6px;
    padding-bottom: 20px;
}

.J_trip-end{
    text-align: end !important;
}

.J_trip-end h3{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin: 0 !important;
    padding-top: 20px;
}

.J_trip-end p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    padding-top: 6px;
    padding-bottom: 20px;
}

.J_ooking-id{
    padding: 20px 0px 0px ;
}

.J_booking-id p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    
}

.J_booking-id p span{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin: 0 !important;
    padding-left: 24px;
}

.J_date-time{
    padding-top: 5px;
    padding-bottom: 20px;
}

.J_date-time span{
    padding-left: 16px !important;
  
}

.J_date-time{
    border-bottom: 0.8px solid #6A6A6A4D

}

.J_bus-operator{
    padding: 20px 0px 0px 0px;
}

.J_bus-operator p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
}

.J_bus-operator p span{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin: 0 !important;
    padding-left: 24px;
}

.J_operator span{
    padding-left: 16px !important;
}

.J_bus-seats{
    padding-top: 5px;
    padding-bottom: 20px;
    display: flex;
    margin: 0 !important;
}

.J_seat-content p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    
}

.J_seat-number{
    display: flex;
    gap: 10px;
    padding-left: 62px;
}

.J_seat-number li{
    color: #000000;
}

li::marker{
    margin: 0 !important;
}

.J_Review-content{
    padding: 40px !important;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

}

.J_rating{
    display: flex;
}

.J_rating-content h4{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 400;
    margin: 0 !important;
    padding-bottom: 30px !important;
}

.J_rating-image{
    text-align: end !important;
    
}

.J_rating-image img{
    padding-left: 5px;
}

.J_Description-box{
    padding-top: 10px !important;
}


.J_Description-box textarea {
    border: 0.8px solid #6A6A6A;
    border-radius: 4px;
    width: 100% ;
    height: 100px;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 300;
    color: #6A6A6A;

}

.J_Rate-Review-btn{
    display: flex;
    justify-content: center ;
    padding-top: 40px;
    gap: 40px;
}

.J_cancel-btn a{
    border: 1px solid #C16C49;
    border-radius: 4px;
    text-decoration: none;
    padding: 9px 35px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #C16C49 !important;
}

.J_submit-btn a{
    border: 1px solid #C16C49;
    border-radius: 4px;
    text-decoration: none;
    padding: 9px 35px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #C16C49 !important;
}

.J_cancel-btn a:hover{
    color: #FFFFFF !important;
    background-color: #C16C49;
}

.J_submit-btn a:hover{
    color: #FFFFFF !important;
    background-color: #C16C49;
}

     
