body {
    font-family: Arial, sans-serif;
    background-color: #FAFAFA;
}

#J_contect {
    background: #6A6A6A0A;
    padding-top: 80px;
    padding-bottom: 120px;
}


.J_contact-content {
    padding-bottom: 60px;
    text-align: center;
    margin: 0 auto;
}

.J_contact-content h4 {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin: 0 !important;
}

.J_contact-content p {
    padding-top: 10px;
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 400;
    width: 58%;
    margin: 0 auto;
}

.J_contact-us {
    justify-content: center;
    gap: 30px;
}

.J_Contact-information {
    padding: 30px 30px 0px 30px !important;
    background-color: #FFFFFF;
    height: 280px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.J_contact-info {
    display: flex;
}

.J_contact-image {
    padding-bottom: 25px;
}

.J_contact-image img {
    width: 60px;
    background-color: #FBF6F1;
    padding: 8px 10px;
    border: 1px solid #FBF6F1;
}

.J_info-content {
    padding-left: 14px;
}

.J_info-content h4 {
    color: #6D6D6D;
    font-size: 14px;
    font-weight: 500;
    margin: 0 !important;
    padding-top: 7px;
}

.J_info-content h2 {
    padding-top: 5px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin: 0 !important;
}

.J_contact-form {
    padding: 40px !important;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.J_leave-us h4 {
    color: #000000;
    font-size: 34px;
    font-weight: 600;
    margin: 0 !important;
}

.J_leave-us p {
    padding-top: 10px;
    padding-bottom: 26px;
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 400;
    margin: 0 !important;
}

.J_details {
    display: flex;
    gap: 20px;
}

.J_details-box h2 {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    margin: 0 !important;
    padding-bottom: 6px;
    padding-top: 30px;
}

.J_details-box input {

    outline: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 95% !important;
    padding: 6px 10px;

}

.J_phone-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 95% !important;
}

.J_phone-container select {
    border: none;
    background: none;
    font-size: 16px;
    outline: none;
    
}

.J_phone-container input {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding-left: 5px;
    width: 100%;
}


.J_subject-box h2 {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    margin: 0 !important;
    padding-bottom: 6px;
    padding-top: 30px;
}

.J_subject-box input {
    outline: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 6px 10px;

}

.J_message-box h2 {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    margin: 0 !important;
    padding-bottom: 6px;
    padding-top: 30px;
}

.J_message-box textarea {
    outline: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 6px 10px;

}

.J_submit-button {
    padding-top: 40px;
}

.J_submit-button a {
    border: 2px solid #C16C49;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 43px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #C16C49 !important;
}

.J_submit-button a:hover {
    color: #FFFFFF !important;
    background-color: #C16C49;
}



/* -------------------------- */

/* xs 0-575px 1rem=8px*/
@media screen and (max-width: 575px) {}

@media screen and (max-width: 375px) {}

/* sm 576-767px 1rem=8px */
@media screen and (min-width: 576px) {}

/*-md 768px-991px 1rem=9px */
@media screen and (min-width: 768px) {}

/* lg 992px-1199px 1rem=9px*/
@media screen and (min-width: 5992px) {}

/* xl 1200px-1399px 1rem=10px*/
@media screen and (min-width: 1200px) {}

/* xxl 1400px-any 1rem=10px */
@media screen and (min-width: 1440px) {}