body {
    font-family: Arial, sans-serif;
    background-color: #FAFAFA;
}

#J_Privacy-Policy{
    padding-top: 80px;
    padding-bottom: 120px;
}

.J_privacy {
    text-align: center;
    margin: 0 auto;
}

.J_privacy h4 {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin: 0 !important;
}

.J_privacy p {
    padding-top: 10px;
    padding-bottom: 40px;
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 400;
    width: 58%;
    margin: 0 auto;
}

.J_privacy-content{
    row-gap: 50px;
    padding: 20px;
}

.J_policy-content h2{
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin: 0 !important;
}

.J_policy-content p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    padding-top: 20px;
}

.J_policy-content ul li{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    padding-top: 20px;
    list-style-type: none;
}

.J_Registration{
    padding: 10px;
}