body {
    font-family: Arial, sans-serif;
    background-color: #FAFAFA;
}

#Rate-Review{
    padding-top: 80px;
    padding-bottom: 120px;
}

.Rate-Review-content {
    text-align: center;
    margin: 0 auto;
}

.Rate-Review-content h4 {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin: 0 !important;
}

.Rate-Review-content p {
    padding-top: 10px;
    padding-bottom: 40px;
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 400;
    width: 50%;
    margin: 0 auto;
}

.summary-rating{
    justify-content: center;
    gap: 30px;
}

.Trip-Summary{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    height: 330px;
    padding: 0 !important;  
}

.ticket-content{
    padding: 0px 30px !important;
}

.summary{
    background-color: #6A6A6A1F;  
}

.summary h4{
    padding: 15px 0px 15px 30px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin: 0 !important;
}

.trip{
    display: flex;
    border-bottom: 0.8px solid #6A6A6A4D
}

.trip-start h3{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin: 0 !important;
    padding-top: 20px;
}

.trip-start p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    padding-top: 6px;
    padding-bottom: 20px;
}

.trip-end{
    text-align: end !important;
}

.trip-end h3{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin: 0 !important;
    padding-top: 20px;
}

.trip-end p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    padding-top: 6px;
    padding-bottom: 20px;
}

.booking-id{
    padding: 20px 0px 0px ;
}

.booking-id p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    
}

.booking-id p span{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin: 0 !important;
    padding-left: 24px;
}

.date-time{
    padding-top: 5px;
    padding-bottom: 20px;
}

.date-time span{
    padding-left: 16px !important;
  
}

.date-time{
    border-bottom: 0.8px solid #6A6A6A4D

}

.bus-operator{
    padding: 20px 0px 0px 0px;
}

.bus-operator p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
}

.bus-operator p span{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin: 0 !important;
    padding-left: 24px;
}

.operator span{
    padding-left: 16px !important;
}

.bus-seats{
    padding-top: 5px;
    padding-bottom: 20px;
    display: flex;
    margin: 0 !important;
}

.seat-content p{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    
}

.seat-number{
    display: flex;
    gap: 10px;
    padding-left: 62px;
}

.seat-number li{
    color: #000000;
}

li::marker{
    margin: 0 !important;
}

.Review-content{
    padding: 40px !important;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

}

.rating{
    display: flex;
}

.rating-content h4{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 400;
    margin: 0 !important;
    padding-bottom: 30px !important;
}

.rating-image{
    text-align: end !important;
    
}

.rating-image img{
    padding-left: 5px;
}

.Description-box{
    padding-top: 10px !important;
}


.Description-box textarea {
    border: 0.8px solid #6A6A6A;
    border-radius: 4px;
    width: 100% ;
    height: 100px;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 300;
    color: #6A6A6A;

}

.Rate-Review-btn{
    display: flex;
    justify-content: center ;
    padding-top: 40px;
    gap: 40px;
}

.cancel-btn a{
    border: 1px solid #C16C49;
    border-radius: 4px;
    text-decoration: none;
    padding: 9px 35px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #C16C49 !important;
}

.submit-btn a{
    border: 1px solid #C16C49;
    border-radius: 4px;
    text-decoration: none;
    padding: 9px 35px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #C16C49 !important;
}

.cancel-btn a:hover{
    color: #FFFFFF !important;
    background-color: #C16C49;
}

.submit-btn a:hover{
    color: #FFFFFF !important;
    background-color: #C16C49;
}


/* ------------------------------------------------------ */

     
